<%-include("header") -%>

    <div class="box" id="heading">
        <h1><%=listTitle%></h1>
    </div>
    <div class="box" >
        <% for(let i=0; i< newListIterms.length; i++){ %>

        <div class="item">
            <input type="checkbox">
            <p><%=newListIterms[i]%></p>  
        </div>         
        <%}%>

        <form action="/" method="post" class="item">
            <input type="text" name="newiterm" placeholder="New Item" autocomplete="off"><br>
            <button type="submit" name="list" value=<%=listTitle%>> + </button>
        </form>

    </div> 
<%-include("footer") -%>
   

